body {
  font-family: sans-serif;
}

#root, #app {
  height: 100%;
}

.wooly-willy {
  max-width: 736px;
  margin: auto;
  padding: 8px;
  background: #10a680;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.oscilloscope {
  background-color: #ffffff;
  margin-bottom: 16px;
  border-radius: 4px;
}

