body {
  font-family: sans-serif;
}

#root, #app {
  height: 100%;
}

.wooly-willy {
  max-width: 736px;
  margin: auto;
  padding: 8px;
  background: #10a680;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.oscilloscope {
  background-color: #ffffff;
  margin-bottom: 16px;
  border-radius: 4px;
}

i {
  cursor: default;
}

.controls {
  width: 100%;
  display: grid;
  align-items: center;
}

.field {
  grid-area: field;
}
.slider {
  grid-area: slider;
}
.mute {
  grid-area: mute;
  display: flex;
  flex-direction: row-reverse;
}

@media all and (max-width: 767px) {
  .controls {
    grid-template-areas:
    "field mute"
    "slider slider";
  }
}

@media all and (min-width: 768px) {
  .controls {
    grid-template-columns: auto 5fr auto;
    grid-template-areas: "field slider mute";
  }
}
